header{
background-color: #ACC18A;
width: 100%;
height: 35%;
}

aside#left{
background-color: #DAFEB7;
margin-top: 5%;
margin-bottom: 5%;
height: 90%;
width: 20%;
float: left;
margin-left: 5%;
}

aside#middle{
background-color: #DAFEB7;
margin-top: 5%;
margin-bottom: 5%;
height: 90%;
width: 20%;
float: left;
margin-left: 10%;
}

aside#right{
background-color: #DAFEB7;
margin-top: 5%;
margin-bottom: 5%;
height: 90%;
width: 20%;
float: right;
}

nav{
background-color: #F2FBE0;
height: 90%;
width: 15%;
margin-top: 5%;
margin-bottom: 5%;
float: left;
}

section{
background-color: #605B56;
overflow: auto;
width: 100%;
height: 100%;
}

footer{
background-color: #837A75;
width: 100%;
height: 20%;
/*margin-top: 90%;
/*be-less-stupid: 100%; */
}