header{
background-color: #9993B2;
width: 100%;
height: 20%;
border-color: #000000;
border-style: solid;
}

nav{
background-color: #B4D4EE;
height: 90%;
width: 15%;
margin-top: 1%;
margin-bottom: 1%;
float: left;
border-radius: 0px 20px 20px 0px;
border-color: #000000;
border-style: solid;
text-align: center;
}

section{
background-color: #81717A;
overflow: auto;
width: 100%;
height: 100%;
border-color: #000000;
border-style: solid;
}

.scrollable-article {
overflow-y: auto;
margin-top: 1%;
margin-bottom: 1%;
margin-left: 4%;
margin-right: 4%;
width: 74%;
height: 80%;
float: left;
}

footer{
background-color: #9D8CA1;
width: 100%;
height: 20%;
overflow: auto;
border-style: solid;
/* be-less-stupid: 300%;
>:( */
}

table{
text-align: center;
margin-top: 1%;
empty-cells: show;
height: 100%;
width: 100%;
}

td{
border-radius: 20px;
border-color: #000000;
border-style: solid;
background-color: #A7ABDD;
empty-cells: show;
}