header{
background-color: #ACC18A;
width: 100%;
height: 35%;
font-size: 500%;
padding: 5px 5px 5px 5px;
}

aside#left{
background-color: #DAFEB7;
margin-top: 1%;
margin-bottom: 1%;
height: 90%;
width: 40%;
float: left;
margin-left: 3%;
margin-right: 1%;
border-radius: 20px;
}

aside#right{
background-color: #DAFEB7;
margin-top: 1%;
margin-bottom: 1%;
height: 90%;
width: 40%;
float: right;
margin-right: 1%;
border-radius: 20px;
}

nav{
background-color: #F2FBE0;
height: 90%;
width: 15%;
margin-top: 1%;
margin-bottom: 1%;
float: left;
border-radius: 0px 20px 20px 0px;
text-align: center;
}

section{
background-color: #605B56;
overflow: auto;
width: 100%;
height: 100%;
}

footer{
background-color: #837A75;
width: 100%;
height: 20%;
overflow: auto;
/* be-less-stupid: 100%; */
}

li{
list-style-type: none;
color: #949494c0;
}

ul{
list-style-type: none;
}

p{
text-align: center;
font-size:25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article{
border-color: #000;
border-style: solid;
height: 20px;
width: 20px;
}