header{
background-color: #9993B2;
width: 100%;
height: 20%;
border-color: #000000;
border-style: solid;
}

nav{
background-color: #B4D4EE;
height: 90%;
width: 15%;
margin-top: 1%;
margin-bottom: 1%;
float: left;
border-radius: 0px 20px 20px 0px;
border-color: #000000;
border-style: solid;
}

section{
background-color: #81717A;
overflow: auto;
width: 100%;
height: 100%;
border-color: #000000;
border-style: solid;
}

.scrollable-article {
overflow-y: auto;
margin-top: 1%;
margin-bottom: 1%;
margin-left: 5%;
margin-right: 5%;
width: 74%;
height: 90%;
float: right;
border-radius: 20px 20px 20px 20px;
}

footer{
background-color: #9D8CA1;
width: 100%;
height: 20%;
overflow: auto;
border-color: #000000;
border-style: solid;
overflow: auto;
}

/*
cellspacing="5"
cellpadding=5
}
*/

table{
border-style: solid;
border-color: #000000;
background-color: #A7ABDD;
text-align: center;
}