header{
    color: #fff;
}

aside#left{
    color: #fff;
}

aside#middle{
    color: #fff;
}

aside#right{
    color: #fff;
}

nav{
    color: #fff;
}

section{
    color: #fff;
}

footer{
    color: #fff;
}